body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background: #e9eaec;
}

header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(img/crafts.jpg) center/cover no-repeat fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 23px;
  margin-bottom: 50px;
}
.blogtitle {
  font-size: 100px;
  line-height: 30px;
  text-align: center;
  font-family: "Kaushan Script", cursive;
}

* {
  box-sizing: border-box;
}

.content {
  content: "";
  display: table;
  clear: both;
}
.blogposts {
  float: left;
  width: 30%;
  background-color: white;
  padding-bottom: 40px;
  margin-bottom: 10px;
  border: 3px solid #333652;
  margin-bottom: 50px;
}

.blog1 {
  margin-right: 3%;
  margin-left: 2%;
}

.blog2 {
  margin-right: 3%;
}
.blogcontent {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  margin-top: 20px;
}

.blogheader {
  text-align: center;
  background-color: #333652;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;
}

#link {
  text-align: center;
  padding: 5px;
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #e9eaec;
}
