.title {
  background-color: cadetblue;
  background-image: url(cat.jpg);
  padding: 100px;
  text-align: center;
  color: aliceblue;
  
}
.blogposts{
  position: relative;
  text-align: center;
  background-color:cadetblue;
  margin: 45px 45px 45px 45px;
  padding-bottom: 3ch;
  padding-top: 2ch;
}

